version: '3.8'
services:

  deno:
    build:
      context: .
      network: host
    restart: unless-stopped
    env_file:
      - .env
    command: deno run --allow-net=0.0.0.0:3000,${MYSQL_SERVER_ADDR}:3306 --allow-read=/ --allow-env=MYSQL_SERVER_ADDR,MYSQL_ROOT_PASSWORD server.ts
    ports:
      - 3000:3000
    networks:
      - rosliny

  mysql:
    image: mariadb
    restart: unless-stopped
    volumes:
      - ./data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d/
    env_file:
      - .env
    ports: 
      - 3306:3306
    depends_on:
      - deno
    networks:
      - rosliny
      
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      - ADMINER_DESIGN=dracula
    env_file:
      - .env
    depends_on:
      - mysql
    networks:
      - rosliny

  nginx:
    image: nginx
    restart: unless-stopped
    volumes:
      - ./nginx:/etc/nginx/
      - ./img:/var/www/img/
    ports:
      - 80:80
      - 443:443
    depends_on:
      - deno
      - adminer
    networks:
      - rosliny

networks:
  rosliny:

# docker-compose up --build